*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// Defines 1rem = 10px
	font-size: 62.5%;

	@include screen(tab-land) {
		font-size: 50%;
	}

	@include screen(tab-port-2) {
		font-size: 40%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;

	@include screen(tab-port-4) {
		padding: 0;
	}
}