*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// Defines 1rem = 10px
	font-size: 62.5%;

	@include screen(tab-land) {
		font-size: 50%;
	}
}

body {
	box-sizing: border-box;
}