body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/* font-size: 16px; */
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
}

.heading-primary {
	color: $color-black;
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 4rem;

	&--main {
		display: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 2.5rem;
		animation: bigToSmall 2s ease-in;

	}
	
	&--sub {
		color: $color-grey-dark;
		display: block;
		margin-top: 4rem;
		font-size: 1.5rem;
		font-weight: 300;
		letter-spacing: 1.75rem;
		animation: moveInLeft 1.5s ease-in;
	}
}



.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;
	
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}