.u-center-text { text-align: center; }

.m-bottom-big 		{ margin-bottom: 8rem !important; }
.m-bottom-medium 	{ margin-bottom: 4rem !important; }
.m-bottom-small 	{ margin-bottom: 1.5rem !important; }

.m-top-huge 		{ margin-top: 10rem !important; }
.m-top-big 			{ margin-top: 8rem !important; }
.m-top-medium 		{ margin-top: 4rem !important; }
.m-top-small 		{ margin-top: 1.5rem !important; }

.text-white			{ color: $color-white; }