@mixin clearFix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin screen($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) { @content }; // 600px / 16px
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) { @content }; // 900px / 16px
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 82.5em) { @content }; // 1320px / 16px
	}

	@if $breakpoint == big-desk {
		@media only screen and (max-width: 112.5em) { @content }; // 1800px / 16px
	}
}