@mixin clearFix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin screen($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) { @content }; // 600px / 16px
	}
	
	@if $breakpoint == tab-port-4 {
		@media only screen and (max-width: 41.25em) { @content }; // 624px / 16px
	}

	@if $breakpoint == tab-port-3 {
		@media only screen and (max-width: 46.625em) { @content }; // 730px / 16px
	}

	@if $breakpoint == tab-port-2 {
		@media only screen and (max-width: 58.25em) { @content }; // 920px / 16px
	}

	@if $breakpoint == tab-port {
		@media only screen and (max-width: 65.625em) { @content }; // 1050px / 16px
	}

	@if $breakpoint == tab-land {
		@media only screen and (max-width: 82.5em) { @content }; // 1320px / 16px
	}

	@if $breakpoint == big-desk {
		@media only screen and (max-width: 112.5em) { @content }; // 1800px / 16px
	}
}