// COLORS
$color-primary: #115c7a;
$color-primary-light: rgb(94, 192, 238);
$color-primary-dark: #263f44;

$color-secondary-light: #fff1cf;
$color-secondary-dark: #ffd369;

$color-tertiary-light: #8BC34A;
$color-tertiary-dark: #4CAF50;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: rgb(83, 83, 83);
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;