.section {
	height: 110vh;
	width: 100%;
	text-align: center;
	margin: 3rem 0;
	
	// SECTION HEADER CSS
	&__header {
		font-size: 5rem;
		padding-top: 6rem;
		text-align: center;

		&-about {
			padding-top: 10rem;
		}
	}

	// SECTION ABOUT CSS
	&-about {
		background-color: $color-grey-light-1;
		-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 65%);
		clip-path: polygon(0 10%, 50% 0 ,100% 10%, 100% 100%, 0 100%);
		
		&__text {
			font-size: 1.6rem;
			column-count: 2;
			column-gap: 4rem;
			column-rule: 1px solid $color-grey-light-2;
			padding-top: 4rem;
		}

		&__img-container {
			height: 40rem;
			display: inline-block;
			margin-left: 20rem;

			// Create outside shape of element
			-webkit-shape-outside: circle(50% at 50% 50%);
			shape-outside: circle(50% at 50% 50%);

			// Create element actually look like it
			-webkit-clip-path: circle(50% at 50% 50%);
			clip-path: circle(50% at 50% 50%);
		}

		&__image {
			height: 100%;
			
		}
	}

	&-skills {
		background-color: $color-secondary-light;
		
	}
}