.section {
	height: 95%;
	width: 100%;
	text-align: center;

	// SECTION HEADER CSS
	&__header {
		font-size: 5rem;
		padding-top: 6rem;
		text-align: center;
		width: 100%;

		&-about {
			padding-top: 10rem;
		}

		&-skills {
			color: $color-white;
			text-shadow: 0 1.6rem 2rem rgba($color-white, 0.4);
		}
	}

	// SECTION ABOUT CSS
	&-about {
		height: 75%;
		margin-bottom: 3rem;
		padding-bottom: 10rem;
		background-color: $color-grey-light-1;
		-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 65%);
		clip-path: polygon(0 10%, 50% 0 ,100% 10%, 100% 100%, 0 100%);
		
		&__text {
			font-size: 1.6rem;
			margin-top: 8rem;
			columns: 2;
			column-rule: 1px solid $color-grey-dark;
			column-gap: 4rem;

			@include screen(tab-port-2) {
				font-size: 1.9rem;
				margin-left: 10rem;
			}

			@include screen(tab-port-3) {
				margin-left: 5rem;
			}

			@include screen(tab-port-4) {
				margin-left: 2rem;
			}
		}

		&__img-container {
			height: 40rem;
			display: inline-block;
			margin-left: 20rem;
			margin-top: 2rem;

			// Create element actually look like it
			-webkit-clip-path: ellipse(46% 30% at 51% 46%);
			clip-path: ellipse(46% 30% at 51% 46%);

			@include screen(tab-port-2) {
				margin-left: 5rem;
				margin-top: 5rem;
			}

			@include screen(tab-port-4) {
				
			}

		}

		&__image {
			height: 100%;
		}

		&__social-link {
			margin-top: 6rem;;

			&-git {
				height: 8rem;
				display: inline-block;
				transition: all .3s;
				border-radius: 3px;

				&:hover {
					cursor: pointer;
					transform: translateY(-2px) translateX(2px);
					box-shadow: 0 1rem 1rem rgba($color-black, 0.4);
				}
			}
			
			&-linkedin {
				height: 3rem;
				width: 13rem;
				object-fit: cover;
				object-position: 1px -4.3rem;
				transition: all .3s;
				border-radius: 3px;

				display: inline-block;
				position: relative;
				top: -2.5rem;
				left: 5rem;

				&:hover {
					cursor: pointer;
					transform: translateY(-2px) translateX(2px);
					box-shadow: 0 1rem 1rem rgba($color-black, 0.4);
				}
			}
		}

		@include screen(tab-land) {
			padding-bottom: 5rem;
		}
	}

	&-skills {
		background-color: $color-primary-dark;
		height: 100%;
		padding-bottom: 10rem;
	}
}