body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  height: 100vh;
  text-align: center;
  font-size: 24px;
}

.header-text {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}