.card {
	display: inline-block;
	background-color: $color-grey-light-2;
	border-radius: 2.4rem;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

	&:not(:last-child) {
		margin-right: 5rem;

		@include screen(tab-port-4) {
			margin-right: 0;
		}
	}
	
	&__header {
		font-size: 3rem;
		padding: 1rem 0;

		@include screen(tab-port-4) {
			font-size: 4rem;
		}
	}
	
	@include screen(tab-port-4) {
		display: inline-block;
		width: 65% !important;
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

}