.list {
	list-style: none;
	display: inline-block;
	
	&__li-container {
		padding: 0.5rem;

	}

	&__li {
		display: inline-block;
		padding: 1rem;
		font-size: 1.5rem;
		font-weight: 300;

		& a:link,
		& a:visited {
			color: $color-primary-dark;
			text-decoration: none;
		}
	}

	&__icon {
		height: 3rem;
		display: inline-block;
		float: left;
	}
}