.list {
	list-style: none;
	display: inline-block;
	
	// CONTAINER FOR TEXT AND ICON
	&__li-container {
		padding-top: 1rem;
	}

	&__li {
		display: inline-block;
		padding: 1rem;
		font-size: 1.7rem;
		font-weight: 400;

		& a:link,
		& a:visited {
			color: $color-primary-dark;
			text-decoration: none;
		}
	}

	&__icon {
		height: 3rem;
		display: inline-block;
		float: left;
	}
}