.header {
	height: 95vh;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.808), 
		rgba($color-primary, 0.801));
	background-size: cover;
	background-position: top;
	position: relative;

	-webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 65%);
	clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 65%);

	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include screen(tab-port-2) {
		-webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 75%);	
		clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 70%);	
	}
}